/*Import link for Google font*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Rubik+Doodle+Shadow&display=swap');

body {
    background-image: url(../images/map-bg.jpg);
    background-color: gray;
    font-family: 'Exo 2', sans-serif;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#page-title {
    font-family: 'Rubik Doodle Shadow', sans-serif;
    font-size: larger;
    color: #ffffff;
    background-color: darkblue;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 10vh;
    width: 300px;
}

i {
    margin-right: 7px;
    margin-left: 7px;
}

.hide {
    display: none;
}

main {
    min-height: 83vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#game-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(44, 50, 56, 0.8);
    height: 70vh;
    width: 85vw;
}

.question-area {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    font-size: large;
}

.buttons-area {
    display: flex;
    flex-direction: column;
}

.btn {
    margin: 5px;
    padding: 10px;
    border-width: 2px;
    border-color: black;
    height: 35px;
    width: 175px;
}

.btn:hover {
    border-style: dotted;
}

.control-buttons {
    padding: 5px;
}

#start {
    margin: 0px 5px;
    border-width: 2px;
    border-color: black;
    width: 60px;
    height: 50px;
    font-weight: bold;
}

#next {
    margin: 0px 5px;
    border-width: 2px;
    border-color: black;
    width: 60px;
    height: 50px;
    font-weight: bold;
}

#start:hover {
    border-style: dotted;
}

#next:hover {
    border-style: dotted;
}

#score-area {
    display: flex;
    align-items: flex-end;
    height: 50px;
    justify-content: center;
    width: 55vw;
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: flex-end;
}

.copyright {
    font-size: smaller;
    display: flex;
    justify-content: center;
    width: 195px;
    height: 20px;
    background-color: rgb(44, 50, 56);
}

/*Media query: mobiles and bigger (320px min)*/
@media screen and (min-width: 320px) {
    #page-title {
        width: 450px;
        font-size: x-large;
    }

    #score-area {
        display: flex;
        align-items: flex-end;
        height: 50px;
        justify-content: flex-end;
        width: 55vw;
        margin-top: 20px;
}
}

/*Media query: tablets and bigger (768px min)*/
@media screen and (min-width: 768px) {
    #page-title {
        width: 450px;
        font-size: xx-large;
    }

    #game-div {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(44, 50, 56, 0.8);
        height: 65vh;
        width: 75vw;
    }

    .btn {
        margin: 5px;
        padding: 10px;
        border-width: 2px;
        border-color: black;
        height: 35px;
        width: 250px;
    }
}